<!DocType html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script>
        // open in html in about:blank cloaking
        const win = window.open();
        win.document.open();
        const scriptElement = win.document.createElement('script');
        scriptElement.innerText = `
        setTimeout(() => {
            document.open();
            document.write(btoa("<%= html %>"));
            document.close();
        }, 500);
        `;
        win.document.write(scriptElement.outerHTML);
        win.document.close();
        window.close();
    </script>
</head>
